<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf='authenticationService.isAuthenticated'>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">{{"APP_NAME" | translate}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
      aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">{{"Home"|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/Json">{{"JSON"|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/CRUD">{{"CRUD"|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/intercept">{{"INTERCEPT"|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/agGrid">{{"AG_GRID"|translate}}</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <select class="custom-select" (change)="changeLang($event)">
          <option value='en'>English</option>
          <option value='ge'>German</option>
        </select>
        <li class="nav-item pointer">
          <a class="nav-link" (click)="logout()">{{"Logout" | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- <ng-container *ngIf="loading$ | async"> -->
<!-- <div class="spinner-background"> </div> -->

<div class="d-flex justify-content-center" style="z-index: 99000; position:relative; top: 50%;"
  *ngIf="loading$ | async">
  <div class="spinner-border" style="width: 5rem; height: 5rem; " role="status">
    <span class="sr-only"></span>
  </div>
</div>

<!-- <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner> -->
<!-- </ng-container> -->
<router-outlet></router-outlet>
<!--
<app-intercept></app-intercept> -->
